AVR/AvrSolutions190320/Max7219_7SegmentDisplay/Debug/
AVR/AvrSolutions190320/Max7219_7SegmentDisplay/Release/
AVR/AvrSolutions190320/.vs/
AVR/AvrSolutions190320/I2C_lcd_3/Release/
AVR/AvrSolutions190320/LcdI2c/Release/
AVR/AvrSolutions190320/LcdI2c/Debug/
STM/HelloStm32/Debug/
STM/.metadata/
STM/HelloStm32/Release/
STM/BlinkNoHal/Debug/
STM/BluePillBlinkCmsisProject/Debug/
STM/BluePillBlinkCmsisProject/Release/
STM/BlinkNoHalV2/Debug/
AVR/AvrSolutions190320/AvrCucarachaLib/Debug/
AVR/AvrSolutions190320/AvrCucarachaLib/Release/
AVR/AvrSolutions190320/PlayingWithPorts/Debug/
AVR/AvrSolutions190320/PlayingWithPorts/Release/
